@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 20px;
  color-scheme: light dark;
  color: #000;
  background-color: #fcfaf7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-gradient {
  background: linear-gradient(to right, #ffe2eb, #ccf1ff);
}
.text-gradient {
  background: linear-gradient(to right, #c26be0, #634ce5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
}
